<meta charset="utf-8">

{% include seo.html %}

{% unless site.atom_feed.hide %}
  <link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
{% endunless %}

<!-- https://t.co/dKP3o1e -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#333333"/>

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5/css/all.min.css">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png?v=Nmakjpg2Y2">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png?v=Nmakjpg2Y2">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png?v=Nmakjpg2Y2">
<link rel="manifest" href="/assets/favicon/site.webmanifest?v=Nmakjpg2Y2">
<link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg?v=Nmakjpg2Y2" color="#333333">
<link rel="shortcut icon" href="/assets/favicon/favicon.ico?v=Nmakjpg2Y2">
<meta name="apple-mobile-web-app-title" content="Chase Inc.">
<meta name="application-name" content="Chase Inc.">
<meta name="msapplication-TileColor" content="#333333">
<meta name="msapplication-TileImage" content="/assets/favicon/mstile-144x144.png?v=Nmakjpg2Y2">
<meta name="msapplication-config" content="/assets/favicon/browserconfig.xml?v=Nmakjpg2Y2">
<meta name="theme-color" content="#333333">

<!--[if IE]>
  <style>
    /* old IE unsupported flexbox fixes */
    .greedy-nav .site-title {
      padding-right: 3em;
    }
    .greedy-nav button {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
    }
  </style>
<![endif]-->

{% if site.head_scripts %}
  {% for script in site.head_scripts %}
    <script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% endif %}